* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    background: #ccc;
  }
  
  article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
    border-top: 3px solid #ff0000;
    border-bottom: 3px solid #ff0000;

    /**Extra background - Fallback for IE 10 - no support for linear-gradient() Double-position color stops - https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient()#browser_compatibility
    **/
    background: url("top-image.png") top no-repeat;

    background: 
      url("top-image.png") top no-repeat,
      url("bottom-image.png") bottom no-repeat,
      linear-gradient(to bottom,#bababa,20%,white 80%,#bababa);
  }
  
  address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
  }
  
  h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background: url("logo.png") no-repeat;
    /* filter: drop-shadow(9px 9px 10px #b8b8b8); */
  }
  
  /* Your CSS below here */